.nav {
    width: 100%;   
    line-height: 1;
    background-color: #fff;
    color: #1c1d1f;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  }
  .tabs {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    margin: auto;
    background-color: #fff;
    align-self: center;
    margin: auto;
    width: 73rem;
    padding: 0rem 0rem;
  }

  .tabs *:hover{
    color: black;
  }
  .tab {
    padding: 0 3rem;
  }