  .tabs {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    margin: auto;
    background-color: #fff;
    align-self: center;
    margin: auto;
    width: 73rem;
    padding: 0rem 0rem;
  }

  .tabs *:hover{
    color: black;
  }
  .tab {
    padding: 0 3rem;
  }