.container {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1d1f;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 8%), 0 -4px 12px rgb(0 0 0 / 16%);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.38, 0.9);
  min-height: 4rem;
}
.navigation {
  position: fixed;
  top: 4rem;
  z-index: 5;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 8%), 0 -4px 12px rgb(0 0 0 / 16%);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.38, 0.9);
}
.main{
  display: inline-flex;
  justify-content: space-between;
}
.main > div{
  margin: "0.7rem 1.5rem" 
}
.title{
  font-weight: 800;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  margin-bottom: 0.4rem;
  line-height: 1rem;
  overflow: hidden;
}
.reviews {
  display: flex;
}
.reviews > * {
  margin: 0 5px;
}
.ratingNumber {
  color: #f3ca8c;
  font-size: 15px;
  font-weight: bolder;
  margin: 3px 0;
  padding: 0;
}
.reviewsNumber {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  margin: 3px 0;
  padding: 0;
  align-self: center;
}
.star {
  color: #f3ca8c;
}
.bestseller {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 11px;
  max-height: 13px;
}

.whiteButton {
  flex: 1;
  min-width: 9rem;
  width: 100%;
  position: absolute;
  border: 1px black solid;
  display: none;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  color: #1c1d1f;
  text-decoration: none;
  max-height: 2.6rem;
  background-color: #fff;
}

.whiteButton:hover {
  background-color: #e0e0e0;
  color: #1c1d1f;
  cursor: pointer;
}
.whiteButton h3 {
  font-weight: 800;
  padding: 1rem 0;
}
@media only screen and (max-width: 1050px) {
  .container {
    bottom: 0;
    top: unset;
  }
  .navigation {
    top: 0;
  }
  .whiteButton{
    position: relative;
    display: flex;
    visibility: visible;
  }
}
