.review {
  width: 100%;
  overflow: hidden;
  color: #1c1d1f;
  border-top: 1px solid #d1d7dc;
}
.container > h3 {
  font-size: x-large;
  font-weight: 700;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback > * {
  color: #1c1d1f !important;
}