.review {
  width: 100%;
  overflow: hidden;
  color: #1c1d1f;
  border-top: 1px solid #d1d7dc;
}
.container > h3 {
  font-size: x-large;
  font-weight: 700;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback {
  display: flex;
  flex-direction: column;
}
.feedback > * > * {
  color: #1c1d1f !important;
}
.feedback > * > p {
  font-size: 0.7rem;
}
.userTitle > h4 {
  margin-left: 0.7rem;
}
.review > * {
  margin: 0.6rem 0;
}
.userTitle > * {
  padding: 0.2rem 0;
}
.rating > h5 {
  color: #6a6f73;
  font-weight: 400;
}
