.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #1c1d1f;
}
.container > h3 {
  font-size: x-large;
  font-weight: 700;
}
.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.feedback > * {
  color: #1c1d1f !important;
}