.container {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1d1f;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 8%), 0 -4px 12px rgb(0 0 0 / 16%);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0, 0, 0.38, 0.9);
  color: #fff;
}
.mask {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(28, 29, 31, 0) 0%,
    rgba(28, 29, 31, 0.9) 100%
  );
}

.contentContainer > * > h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.contentContainer > * > p {
  font-weight: lighter;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
.contentContainer h5 {
  display: inline;
  color: #cec0fc;
}
.contentContainer h5:hover {
  cursor: pointer;
}
.container h6 {
  font-weight: 400;
  font-size: small;
  display: inline;
}
.contentContainer {
  margin: 20px auto;
  width: 73rem;
  padding: 0.7rem 1.5rem;
}
.content > * {
  margin: 0.75rem 0;
}
.content {
  max-width: 41rem;
  margin: 0 auto 0 0;
}
.breadCrumb *{
  color: #cec0fc;
  font-size: medium;
  font-weight: 700;
}
.reviews {
  display: flex;
}
.reviews > * {
  margin: 0 5px;
}
.ratingNumber {
  color: rgb(224, 164, 0);
  font-size: 15px;
  font-weight: bolder;
  margin: 3px 0;
  padding: 0;
}
.reviewsNumber {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  margin: 3px 0;
  padding: 0;
  align-self: center;
}
.rating {
  align-items: center;
}
.star {
  color: #9e9790;
  opacity: 0.45;
}
.bestseller {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 11px;
}
.courseImg {
  padding: 2px;
  position: absolute;
  visibility: hidden;
}
.courseImg:hover {
  cursor: pointer;
}

.iconContainer {
  display: flex;
  float: left;
  position: absolute;
  top: calc(50% - 1.5rem);
  left: calc(50% - 1.5rem);
  z-index: 1;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  background-color: white;
}
.preview {
  float: left;
  position: absolute;
  bottom: 5%;
  width: 100%;
  line-height: 2rem;
  z-index: 1;
  color: #ffffff;
  font-weight: 800;
  font-size: large;
  text-align: center;
}

@media only screen and (max-width: 1050px) {
  .courseImg{
    position: relative;
    visibility: visible;
  }
  .container{
    width: 100%;
  }
  .contentContainer{
    width: unset;
  }
}