.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  width: 100%;
  border: 1px solid #d1d7dc;
  padding: 1rem 1.8rem;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #1c1d1f;
}
.checkMark {
  transform: scale(0.8);
  margin-right: 1rem;
}
.learnings {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.container > h3 {
  font-size: x-large;
  font-weight: 700;
}
.learnings > div {
  display: flex;
  flex-direction: row;
  font-size: small;
  line-height: 1.3rem;
  min-width: 18rem;
  max-width: 50%;
  margin: 0.2rem 0;
}

@media only screen and (max-width: 450px) {
  .container > div > div {
    min-width: 100%;
    max-width: unset;
  }
}
