.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1c1d1f;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 -2px 4px rgb(0 0 0 / 8%), 0 -4px 12px rgb(0 0 0 / 16%);
  padding: 0.7rem 1.5rem;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0,0,.38,.9);
}
.container > h3 {
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  margin-bottom: 0.4rem;
}
.reviews {
  display: flex;
}
.reviews > * {
   margin: 0 5px;
}
.ratingNumber {
  color: #f3ca8c;
  font-size: 15px;
  font-weight: bolder;
  margin: 3px 0;
  padding: 0;
}
.reviewsNumber {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  margin: 3px 0;
  padding: 0;
  align-self: center;
}
.star {
  color: #f3ca8c;
}
.bestseller {
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 0;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 11px;
}
