* {
  margin: 0;
  padding: 0;
}

html,
.home-page {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.home-page {
  display: flex;
  background-color: fff;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  color: #1c1d1f;
  align-items: center;
  justify-content: center;
  z-index: 0;
  min-height: 100vh;
}
div article {
  line-height: 1.1;
}
h1,
h2 {
  font-family: suisse;
}
h3 {
  font-weight: 500;
  font-size: small;
  margin: 0;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
}

.hide {
  position: relative;
  display: none !important;
  visibility: collapse;
  background-color: #b4690e;
}
.mobile {
  position: absolute;
  display: none;
  visibility: hidden;
}
.web-logo > figure {
  margin: 0;
  padding: 0.8rem;
}
.white-button {
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: none;
  color: #1c1d1f;
  text-decoration: none;
  max-height: 2.6rem;
  padding: 0.8rem;
}

.white-button:hover {
  background-color: #e0e0e0;
  color: #1c1d1f;
  cursor: pointer;
}
.white-button h3 {
  font-weight: 800;
}
.button-margin {
  margin: 0 4px;
  padding: 0;
}
.dark {
  color: black;
}

div .dark :hover {
  color: #5624d0;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  margin-bottom: 20px;
  max-width: 85rem;
}
.border {
  border: 1px solid #d1d7dc;
  margin-bottom: 0;
  padding: 0;
  width: "240";
  height: "135";
}

.course-page-main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 73rem;
  margin: 0px auto;
}
.course-page-contents {
  max-width: 41rem;
  margin: 0 1.5rem;
}
.course-page-contents > * {
  margin: 2rem 0;
}

@media only screen and (max-width: 1050px) {
  .webpage {
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .course-page-contents {
    margin: 0 1.5rem;
  }
  .course-page-main {
    min-height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .tablet {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: black !important;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transform: translate(0, 50px);
}
.MuiLinearProgress-determinate {
  background-color: #d1d7dc !important;
  height: 0.5rem !important;
}
.MuiLinearProgress-bar1Determinate {
  background-color: #6a6f73 !important;
}
